/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
   
}

h3,h4{
    margin-bottom: 18px;
    font-weight: 300;
}

.row{
    margin-bottom: 15px;
}

.halfWidth{
    width: 50%;
}

.fullWidth{
    width: 100%;
}

.bug-tracker{
    width: 500px;
    margin: auto;
}

.row>input,label{
    display: block;
}

input{
    border-radius: 4px;
}

input, select, button{
    padding: 6px;
}

input:focus, .issue:focus, select:focus{
    outline-color: cornflowerblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.required::after{
    content: " *";
    color: red;
}

.issue{
    max-width: 100%;
    min-width: 50%;
    min-height: 200px;
    max-height: 250px;
    border-radius: 4px;
}

li{
    list-style-type: none;
}

.sameLine{
    display: inline;
}

.upFile{
    border: 1px solid #000;
    border-radius: 4px;
}

